@font-face {
  font-family: roboto-mono;
  src: url("./fonts/Roboto-Mono.ttf");
}

* {
  box-sizing: border-box;
  font-family: roboto-mono;
  color: #2b2b2b;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0;
}

.page-header {
  text-align: center;
  margin: 0;
  margin-top: 30px;
  color: #ed6a5a;
}

.github-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8em;
  margin: 10px auto 30px;
}

.github-logo {
  height: 40px;
  width: auto;
}

.github-wrapper a {
  font-size: 20px;
}

.github-wrapper a:hover {
  color: #17b9ff;
}

.game-wrapper {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.display-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.score {
  font-size: 50px;
  font-weight: 1000;
  margin-top: 70px;
}

#player-score {
  color: #17b9ff;
  margin-left: 20px;
}

#computer-score {
  color: #ed6a5a;
  margin-right: 20px;
}

.image-wrapper p {
  font-size: 30px;
  font-weight: bold;
  color: #ddd;
}

#computer-image {
  transform: scaleX(-1);
  border-color: #ed6a5a;
}

#player-image {
  border-color: #17b9ff;
}

.game-image {
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 175px;
  width: 175px;
}

.input-wrapper p {
  font-size: 20px;
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.rps-button {
  height: 100px;
  width: 100px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.rps-button:hover {
  border-color: #17b9ff;
  cursor: pointer;
}

.rps-button:active {
  background-color: #c1eeff;
}

#turn-history {
  list-style-type: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

#turn-history #current-turn {
  color: #17b9ff;
}

#turn-history li {
  font-size: 16px;
  color: #2b2b2b;
}

.history-wrapper p {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.empty-ul {
  padding: 20px;
}

.non-empty-ul {
  padding: 10px;
}

#game-state {
  text-align: center;
}

.transparent {
  opacity: 0;
}
